body {
  background-image: url(C:\Users\mahes\OneDrive\Desktop\react-projects\emoji-identifier\public\emojiback.jpg);
  font-family: sans-serif;
  background-position: left;
  opacity: .8;
  padding: 20px;
}

.container {
  width: 100%;
  background-color: rgb(29, 27, 27);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 800px;
  height: 80vh;
  border-radius: 5px;
}

.App {
  text-align: center;
  align-items: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  width: 80%;
  height: 5vh;
  border-radius: 5px;
  border: 1px solid rgb(48, 48, 50);
}
